<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la Página</title>
</head>
<body>
    <header>
        <h1>Encabezado de la Página</h1>
        <nav>
            <ul>
                <li><a href="{% url "home" %}">HOME</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">logaut</a></li>
                    <li><a href="{% url "tasks" %}">Tasks</a></li>
                    <li><a href="{% url "listcompletetask" %}">Tasks completed</a></li>
                    <li><a href="{% url "createTaks" %}">Create taks</a></li>
                {% else %}
                    <li><a href="{% url "singup" %}">SING UP</a></li>
                    <li><a href="{% url "lognin" %}">login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Pie de Página 2023</p>
    </footer>
</body>
</html>
